<!DOCTYPE html>
<html lang="en">

<head>
    {{template "general/header"}}
</head>

<body>
    <!-- TODO: answer here -->
    <!-- <div class="flex items-center justify-center min-h-screen bg-pink-100">
        <div class="px-8 py-6 mt-4 text-left bg-white shadow-lg">
            <h3 class="text-2xl font-bold text-center">Login to your account</h3>
            <form method="POST" action="/login/process">
                <div class="mt-4">
                    <div>
                        <label class="block" for="email">Email<label>
                            <input type="text" placeholder="Email" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" name="email">
                        </label></label></div>
                    <div class="mt-4">
                        <label class="block">Password<label>
                            <input type="password" placeholder="Password" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600" name="password">
                        </label></label></div>
                    <div class="flex items-baseline justify-between">
                        <button class="px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-pink-900">Login</button>
                        <a href="/register" class="text-sm text-pink-600 hover:underline">Register</a>
                    </div>
                </div>
            </form>
        </div>
    </div> -->

    <div class="flex items-center justify-center min-h-screen bg-gray-100">
        <div class="px-8 py-6 mx-4 mt-4 text-left bg-white shadow-lg md:w-1/3 lg:w-1/3 sm:w-1/3">
            <h3 class="text-2xl font-bold text-center">LOGIN</h3>
            <form method="POST" action="/login/process">
                <div class="mt-4">
                    <div class="mt-4">
                        <label class="block" for="email">Email<label>
                                <input type="text" name="email" placeholder="Email"
                                    class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                    </div>
                    <div class="mt-4">
                        <label class="block">Password<label>
                                <input type="password" name="password" placeholder="Password"
                                    class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                    </div>
                    <div class="flex">
                        <button
                            class="w-full px-6 py-2 mt-4 text-white bg-blue-600 rounded-lg hover:bg-blue-900">SignUp</button>
                    </div>
                    <div class="mt-6 text-grey-dark">
                        Dont have an account?
                        <a class="text-blue-600 hover:underline" href="/register">
                            Register
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>